body {
  padding: 0;
  margin: 0;
}

.home-background {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/static/Images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-background::after {
  background-color: forestgreen;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  position: absolute;
}
