.wall-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkgreen;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 50px 10px black;
}

.wall-navbar-logo {
  margin: 6px;
  margin-left: 15px;
  font-family: 'Bangers', cursive;
  color: gold;
  font-size: 1.4em;
  letter-spacing: 3px;
  animation-iteration-count: infinite;
}

#logo-sherwood {
  color: gold;
}

#logo-bet {
  color: silver;
}

.wall-navbar-button-container {
  margin: 3px;
  float: right;
}

.navbar-button {
  background-color: green;
  cursor: pointer;
  border: 0;
  color: #5cb85c;
  font-family: 'Montserrat', cursive;
  margin: 0 2px;
  padding: 7px;
  border-radius: 3px;
  text-align: left;
  box-shadow: inset 0 0 10px black;
  transition: 0.7s;
}

.navbar-button:hover {
  box-shadow: inset 0 0 30px black;
  background-color: darkgreen;
}

i {
  margin: 0 15px;
}

.icon-align {
  vertical-align: text-bottom;
  margin-left: 0;
}
