.sherwood {
  font-family: "Bangers",cursive !important;
  color: gold !important;
  font-size: 1.2em !important;
  letter-spacing: 1px !important;
}

.bet {
  font-family: "Bangers",cursive !important;
  color: green !important;
  font-size: 1.2em !important;
  letter-spacing: 1px !important;
}
